<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-center><strong>Your Shopping Zone</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img class="base-image" src="/assets/Graeshoppe.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col  size-md="6" align-self-center offset="2" offset-md="3" size="8">
        <ion-button (click)="login()" color="danger" class="size" expand="block" class="align">Login
          Now</ion-button><br>
        <ion-button (click)="signup()" class="size" color="danger" expand="block" class="align">Register
          Now</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>