<ion-header>
  <!-- <ion-toolbar>
    <ion-title>categories</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
   
  <ion-row>
    
        <ion-col *ngFor='let category of categoriesList'>
        <ion-card class="size" [routerLink]="'/product-list/'+category.id">
          <img [src]="'data:' + category.imageContentType + ';base64,' + category.image"/>
          <div class="myOverlay">
            <div class="card-title"><strong>{{category.name}}</strong></div>
            <div class="card-subtitle"><strong>{{category.products.length}}</strong></div>
          </div>
        </ion-card>
      </ion-col>
    
     <!-- <ion-col>
      <ion-card class="size">
        <ion-img src="/assets/drinks.jpeg"></ion-img>
        <div class="myOverlay">
          <div class="card-title"><strong>Drinks</strong></div>
          <div class="card-subtitle"><strong>30 Listings</strong></div>
        </div>
      </ion-card>
    </ion-col>
  </ion-row> -->
     <!-- <ion-row>
    <ion-col>
      <ion-card class="size">
        <ion-img src="/assets/chinese.jpg"></ion-img>
        <div class="myOverlay">
          <div class="card-title"><strong>Chinese</strong></div>
          <div class="card-subtitle"><strong>52 Listings</strong></div>
        </div>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="size">
        <ion-img src="/assets/dosa.jpg"></ion-img>
        <div class="myOverlay">
          <div class="card-title"><strong>Dosa</strong></div>
          <div class="card-subtitle"><strong>12 Listings</strong></div>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card class="size">
        <ion-img src="/assets/burger.jpg"></ion-img>
        <div class="myOverlay">
          <div class="card-title"><strong>Burger</strong></div>
          <div class="card-subtitle"><strong>23 Listings</strong></div>
        </div>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="size">
        <ion-img src="/assets/fish.jpg"></ion-img>
        <div class="myOverlay">
          <div class="card-title"><strong>Fish</strong></div>
          <div class="card-subtitle"><strong>4 Listings</strong></div>
        </div>
      </ion-card>
    </ion-col>  -->
  </ion-row>
</ion-content>