
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles" >
      </ion-refresher-content>
    </ion-refresher>
  <ion-row>
    <ion-col *ngFor='let category of categoriesList' size="6">
      <ion-card class="size" [routerLink]="'/product-list/'+category.id">
        <img [src]="'data:' + category.imageContentType + ';base64,' + category.image" />
        <div class="myOverlay">
          <div class="card-title"><strong>{{category.name}}</strong></div>
          <!-- <div class="card-subtitle"><strong>{{category.products.length}}</strong></div> -->
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>