.full-width {
    width: 100%;
}

.sign-out-button {
    --background: #eae9e9;
    color: black;
    font-family: monospace;
    font-weight: bold;
    border: 1px solid #b9aeae;
    --box-shadow: none;
}

.cl-grey {
    color: darkslategray;
}