<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title><strong>Settings</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none" >
      <ion-icon name="print"></ion-icon>
      <ion-item class="full-width">
          <ion-label class="ion-padding-vertical">Printers</ion-label>
      </ion-item>
  </ion-item>
  <ion-item lines="none">
      <ion-icon name="settings"></ion-icon>
      <ion-item class="full-width">
          <ion-label class="ion-padding-vertical">General</ion-label>
      </ion-item>
  </ion-item>

</ion-content>

