<ion-header>
  <!-- <ion-toolbar>
    <ion-title>recently-used</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
    <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-img src="/assets/biriyani.jpg"></ion-img>
              <ion-card-subtitle><strong>Biriyani</strong></ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
              <ion-card-content>
                <ion-img src="/assets/drinks.jpeg"></ion-img>
                <ion-card-subtitle><strong>Drinks</strong></ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-content>
                <ion-img src="/assets/chinese.jpg"></ion-img>
                <ion-card-subtitle><strong>Chinese</strong></ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
              <ion-card>
                <ion-card-content>
                  <ion-img src="/assets/dosa.jpg"></ion-img>
                  <ion-card-subtitle><strong>Dosa</strong></ion-card-subtitle>
                </ion-card-content>
              </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-content>
                  <ion-img src="/assets/burger.jpg"></ion-img>
                  <ion-card-subtitle><strong>Burger</strong></ion-card-subtitle>
    
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                  <ion-card-content>
                    <ion-img src="/assets/fish.jpg"></ion-img>
                    <ion-card-subtitle><strong>Fish</strong></ion-card-subtitle>
    
                  </ion-card-content>
                </ion-card>
              </ion-col>
          </ion-row>
</ion-content>
