<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><strong>Login</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="welcome-card" text-center>
    <ion-img class="base-image" src="/assets/Graeshoppe.png"></ion-img>
    <ion-card-content padding-left padding-right>
      <ion-item  class="item-inner" >
        <ion-label color="medium" position="floating">Username or Email</ion-label>
        <ion-input [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item class="item-inner">
        <ion-label color="medium" position="floating">Passsword</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-button color="danger" (click)="login()" expand="block">Login</ion-button>
      <ion-text>Dont have an Account? </ion-text>
      <ion-text routerLink="/sign-up" class="cursor">Register</ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
