<app-header></app-header>
<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
        <ion-col *ngFor='let product of products' (click)="addTicketLine(product)" >
          <ion-card class="size" >

            <img [class.relative]="product.outOfStock" [src]="'data:' + product.imageContentType + ';base64,' + product.image">
            <img *ngIf="product.outOfStock" class="absolute" src="/assets/stockout.png">
            <div class="myOverlay">
              <div class="card-title"><strong>{{product.name}}</strong></div>
            </div>
          </ion-card>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
