<ion-header>
  <ion-toolbar color="danger">

    <ion-buttons slot="start">
      <ion-title text-center><strong>Add Stock</strong></ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="stockCurrent" margin>
    <ion-item>
      <ion-label position="floating">Product Name</ion-label>
      <ion-input type="text" disabled value="{{stockCurrent.product.name}}"></ion-input>
    </ion-item>
    <ion-item>

      <img *ngIf="true" [src]="'data:' + stockCurrent.product.imageContentType + ';base64,' + stockCurrent.product.image" />
    </ion-item>
  </div>
  <ion-item *ngIf="stockCurrentDTO">
    <ion-label position="floating">Sell Price</ion-label>
    <ion-input type="number" [(ngModel)]="stockCurrentDTO.sellPrice" disabled required></ion-input>

  </ion-item>

  <ion-item *ngIf="stockCurrentDTO">
    <ion-label position="floating">Current Stock Units</ion-label>
    <ion-input [(ngModel)]="stockCurrentDTO.units" type="text" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Add Units </ion-label>
    <ion-input type="number" [(ngModel)]="stockDiary.units"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Buy Price</ion-label>
    <ion-input type="number" [(ngModel)]="stockDiary.price" required></ion-input>
  </ion-item>

  <ion-button (click)="save()" margin mode="ios" expand="block" fill="solid" color="danger">Save</ion-button>
</ion-content>