<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons>
      <ion-menu-button slot="start"></ion-menu-button>
      <ion-title><strong>Orders</strong></ion-title>
      <ion-icon name="notifications" slot="icon-only" class="larger"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none" class="border-bottom">
    <ion-icon name="search" class="search-icon"></ion-icon>
    <ion-input class="ion-margin-start" clearInput="true" placeholder="Enter Order Number"></ion-input>
  </ion-item>

  <!--No Order Container Start-->
  <div class="vertical-align-center" *ngIf="orders.length === 0 && showView === true">
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <ion-icon class="no-receipt-icon" src="./assets/receipt.svg"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center class="ion-padding-top">
          <ion-label class="fs-20">You have no orders yet</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!--No Order Container End-->

  <!--Segment Button Container Start-->
  <div *ngIf="orders.length !== 0">
    <ion-segment (ionChange)="segmentChange($event)" [value]="currentPage" color="secondary">
      <ion-segment-button value="delivery">
        <ion-label>Delivery</ion-label>
      </ion-segment-button>
      <ion-segment-button value="collections">
        <ion-label>Collections</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <!--Segment Button Container End-->

  <!--Order List Container Start-->
  <ion-slides  #slides (ionSlideDidChange)="slideChange()" class="vertical-align-center">
    <ion-slide>
      <ion-list>
          <ion-item lines="none" class="order" *ngFor="let order of orders">
            <ion-text slot="start">
              <p>Date : {{order.date}}</p>
             <p> Order id : {{order.orderId}}</p>
             <p>Number of products : {{order.grandTotal}}</p>
             <p>Total Amount : {{order.payment.total}}</p>
            </ion-text>
            <ion-text slot="end" no-margin>
              <p>Customer id : {{order.customerId}}</p>
              <p>Payment : {{order.payment.status}}</p>
              <p>Delivery Type : {{order.deliveryInfo.deliveryType}}</p>
              <p>Delivery Charge : {{order.deliveryInfo.deliveryCharge}}</p>    
            </ion-text>
          </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide>2</ion-slide>
    <ion-slide>3</ion-slide>
  </ion-slides>
  <!--Order List Container End-->

</ion-content>

<ion-footer>

  <ion-item>
    <ion-select slot="end" okText="Okay" cancelText="Dismiss" [(ngModel)]="selectedFilter">
      <ion-select-option value="paid">Paid</ion-select-option>
      <ion-select-option value="paid">Unpaid</ion-select-option>
    </ion-select>
  </ion-item>


</ion-footer>