.border-bottom {
    border-bottom:1px solid #e2d7d7;
}

 ion-card{
    width: 95vw;
    padding: 10px;
    margin: 2vw;
  }

.no-receipt-icon 
{
    width: 150px;
    height: 150px;
    background: #f0f0f0;
    padding: 30px;
    border-radius: 50%;
}


.vertical-align-center {

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.fs-20 {
    font-size: 20px;
}


.receipt-id::before {
    content: "#";
}


.date {
    font-weight: 600;
    color: green;
    font-size: 12px;
    font-family: monospace;
}

.time {

    color: grey;
    font-size:14px;
}

.search-icon {
    font-size: 20px;
    color: black;
}

p {
    font-size: 10px;
}

ion-item.order {
    width: 100vw;
    border-bottom:1px solid black;
}
