<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title><strong>Receipts</strong></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-item lines="none" class="border-bottom">
      <ion-icon name="search" class="search-icon"></ion-icon>
      <ion-input class="ion-margin-start" clearInput="true" placeholder="Enter reciept Number"></ion-input>
    </ion-item>
    
    <ion-item lines="none" class="border-bottom">
      <ion-label class="date">Friday, April 26, 2019</ion-label>
    </ion-item>
  
    <div *ngIf="sales?.length>0">
      <ion-grid>
        <ion-row (click)="navigateToDetails(sale)" *ngFor="let sale of sales">
          <ion-col size="2" class="vertical-align-center">
              <ion-icon name="cash" class="fs-20"></ion-icon>
          </ion-col>
          <ion-col size="6" class="border-bottom">
            <ion-grid>
              <ion-row>
                  <ion-label>{{sale.sale.grandTotal}}</ion-label>
              </ion-row>
              <ion-row>
                  <ion-label class="time">9.48 AM</ion-label>
              </ion-row>
            </ion-grid>
          </ion-col>
          <ion-col size="4" text-right class="border-bottom ">
            <ion-label class="receipt-id">{{sale.sale.id}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
  
    </div>
  
    <div  class="vertical-align-center" *ngIf="sales && sales.length<1">
        <ion-grid>
  
            <ion-row>
              <ion-col text-center>
                <ion-icon class="no-receipt-icon" src="./assets/receipt.svg"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col text-center class="ion-padding-top">
                <ion-label class="fs-20">You have no reciepts yet</ion-label>
              </ion-col>
            </ion-row>
        
          </ion-grid>
    </div>
  
  </ion-content>
  