<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item></ion-item>

</ion-content>
<ion-footer class="pd-10">
  <ion-item>
      <ion-buttons slot="start">
          <ion-button fill="outline">Cancel</ion-button>
          <ion-button fill="outline">Accept</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button>
            12
          </ion-button>
        </ion-buttons>
  </ion-item>

</ion-footer>