<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item></ion-item>

  <ion-button>Assign Delivery</ion-button>

</ion-content>
<ion-footer padding>
  <ion-buttons>
    <ion-button fill="outline">Accept</ion-button>
    <ion-button fill="outline">Cancel</ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button></ion-button>
  </ion-buttons>
</ion-footer>