<ion-header>
  <ion-toolbar color="danger">
    <ion-title>update-store</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/sale"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row text-center>
      <ion-label class="profileLogo" *ngIf="!store.imageContentType" position="floating">Logo</ion-label>
      <img class="profileLogo image" *ngIf="store.imageContentType" src="data:{{store.imageContentType}};base64,{{store.image}}">
      <input hidden id="logo" type="file" accept="image/*" color="primary" (change)="onSelectFile($event)">
    </ion-row>
    <ion-row>
        <ion-item class="imageUpload">
            <ion-button slot="end" fill="none" (click)="triggerUpload($event)">
              <ion-icon slot="start" color="danger" size="large" name="camera" slot="icon-only"></ion-icon>
            </ion-button>
    
          </ion-item>
    
    </ion-row>
    <ion-row>
      <ion-col padding>
        <!--<ion-item>
            <ion-label position="floating">Opening time</ion-label>
            <ion-input type="text" [(ngModel)]="store.openingTime"></ion-input>
          </ion-item> -->
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" [(ngModel)]="store.name">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Opening time</ion-label>
          <ion-datetime display-format="hh:mm A" [(ngModel)]="store.openingTime"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Closing time</ion-label>
          <ion-datetime display-format="hh:mm A" [(ngModel)]="store.closingTime"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Info</ion-label>
          <ion-input [(ngModel)]="store.info">
          </ion-input>
        </ion-item>
        <ion-col size="12">
          <ion-list>
            <ion-radio-group>
              <ion-list-header>
                <ion-label >Delivery Type</ion-label>
              </ion-list-header>
  
              <ion-item>
                <ion-label>Collection</ion-label>
                <ion-checkbox (ionChange)="checkBoxChange($event, 'collection')" slot="start" name="type1" value="collection"></ion-checkbox>
              </ion-item>
  
              <ion-item>
                <ion-label>Delivery</ion-label>
                <ion-checkbox (ionChange)="checkBoxChange($event, 'delivery')" slot="start" name="type2" value="delivery"></ion-checkbox>
              </ion-item>
  
            </ion-radio-group>
          </ion-list>
        </ion-col>
        <!--    <ion-item>
          <ion-label position="floating">Delivery Type</ion-label>
          <ion-select multiple=true [(ngModel)]="store.deliveryInfo.types">
            <ion-select-option *ngFor="let type of types" [value]="type" required>{{type.name}}
            </ion-select-option> -->
        <!--             <ion-select-option [value]="delivery" required>Delivery
            </ion-select-option> -->
        <!--           </ion-select>
        </ion-item> -->
        <!--         <ion-item *ngIf="store.deliveryInfo?.type=='delivery'">
          <ion-label position="floating">Delivery starting time</ion-label>
          <ion-datetime display-format="hh:mm A" [(ngModel)]="store.deliveryInfo.startingTime"></ion-datetime>
        </ion-item> -->

        <!-- <ion-item>
              <ion-label position="floating">UOM</ion-label>
              <ion-select [(ngModel)]="productUOM" >
                <ion-select-option *ngFor="let um of uom" value="{{um.id}}" required>{{um.name}}
                </ion-select-option>
              </ion-select>
            </ion-item> -->
        <ion-item-group>
          <ion-item-divider>
            <ion-label>Delivery details</ion-label>
            <ion-icon name="add-circle" (click)="addNewDeliveryInfo()" color="danger" slot="end"></ion-icon>
            <ion-icon name="arrow-down" *ngIf="isDeliveryInfosShowing" mode="ios" (click)="hideDeliveryInfos()"
              slot="start"></ion-icon>
            <ion-icon name="arrow-forward" *ngIf="!isDeliveryInfosShowing" mode="ios" (click)="showDeliveryInfos()"
              slot="start"></ion-icon>
          </ion-item-divider>
          <ion-item *ngIf="isAddingNewDeliveryInfo">
            <ion-row class="delivery-info">
              <ion-col size="10">
                <ion-row>

                  <ion-col>
                    <ion-item>
                      <ion-select [(ngModel)]="newDeliveryInfo.typeId" placeholder="select type">
                        <ion-select-option *ngFor="let type of types" [value]="type.id" required>{{type.name}}
                        </ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">Starting time</ion-label>
                      <ion-datetime display-format="hh:mm A" [(ngModel)]="newDeliveryInfo.startingTime">
                      </ion-datetime>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">Ending time</ion-label>
                      <ion-datetime display-format="hh:mm A" [(ngModel)]="newDeliveryInfo.endTime"></ion-datetime>
                    </ion-item>
                  </ion-col>
                </ion-row>

              </ion-col>
              <ion-col size="2">
                <ion-row>
                  <ion-item lines="none">
                    <ion-icon name="save" (click)="saveNewDeliveryInfo()" color="danger"></ion-icon>
                  </ion-item>
                </ion-row>
                <ion-row>
                  <ion-item lines="none">
                    <ion-icon name="close" (click)="closeNewDeliveryInfo()" color="danger"></ion-icon>
                  </ion-item>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-item>

          <ion-item *ngFor="let deliveryInfo of deliveryInfos;let i=index" lines="none" class="deliveryInfoItem">

            <ion-row class="delivery-info">
              <ion-col size="10">
                <ion-row>
                  <ion-select [(ngModel)]="deliveryInfo.typeId">
                    <ion-select-option *ngFor="let type of types" [value]="type.id" required>{{type.name}}
                    </ion-select-option>
                  </ion-select>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">Starting time</ion-label>
                      <ion-datetime display-format="hh:mm A" [(ngModel)]="deliveryInfo.startingTime"></ion-datetime>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">Ending time</ion-label>
                      <ion-datetime display-format="hh:mm A" [(ngModel)]="deliveryInfo.endTime"></ion-datetime>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-col>

              <ion-col size="2">
                <ion-row>
                  <ion-item lines="none">
                    <ion-icon name="save" (click)="updateDeliveryInfo(i)" color="danger"></ion-icon>
                  </ion-item>
                </ion-row>
                <ion-row>
                  <ion-item lines="none">
                    <ion-icon name="close" (click)="deleteDeliveryInfo(i)" color="danger"></ion-icon>
                  </ion-item>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-item-group>
        <ion-item>
          <ion-label position="floating">Add Location</ion-label>
          <ion-input debounce="1500" (ionFocus)="addLocationModal()">
          </ion-input>
          <button class="currentLocation" slot="end" item-right (click)="getCurrentLocation()">
              <ion-icon name="locate"></ion-icon>
           </button>
        </ion-item>
 
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-button (click)="save()" margin mode="ios" expand="block" fill="solid" color="danger">Save</ion-button>
</ion-footer>