<ion-header>
  <ion-toolbar color="danger" >
    <ion-buttons  (click)="dismiss()" slot="start">
      <ion-icon name="arrow-back" class="icon-size" ></ion-icon>  &nbsp;&nbsp;
      <ion-title text-center><strong>Create New Category</strong></ion-title> 
 </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div margin>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" [(ngModel)]="category.name"></ion-input>
      </ion-item>
      <ion-item margin lines="none">
        <img [src]="fileUrl"  />
      </ion-item>
      <ion-item>
        <ion-label position="floating">Image</ion-label>
        <ion-input type="file" accept="image/*" color="danger" (change)="onSelectFile($event)" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea [(ngModel)]="category.description" ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-checkbox [(ngModel)]="category.visible" color="primary"></ion-checkbox>
        <ion-label position="fixed"  margin>Visible</ion-label>
      </ion-item>
      
      <ion-button (click)="save()" margin mode="ios" expand="block" fill="solid" color="danger">Save</ion-button>
    </div>
  </div>
</ion-content>