<ion-header>
  <ion-toolbar color="danger" >
    <ion-buttons slot="start">
      <ion-button (click)="dismiss(true)">
        <ion-icon name="close" slot="icon-only" ></ion-icon>  &nbsp;&nbsp;
      </ion-button>
      <ion-title text-center><strong>Create New Category</strong></ion-title> 
 </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div margin>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" [(ngModel)]="category.name"></ion-input>
      </ion-item>
      <ion-item>
        <img *ngIf="fileUrl != null"  [src]="fileUrl"  />
        <ion-button fill="none" (click)="triggerUpload($event)" >
          <ion-icon name="camera" slot="icon-only"></ion-icon>
        </ion-button>
        <input hidden id="image" type="file" accept="image/*" color="danger" (change)="onSelectFile($event)"/>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea [(ngModel)]="category.description" ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-checkbox [(ngModel)]="category.visible" color="primary"></ion-checkbox>
        <ion-label position="fixed"  margin>Visible</ion-label>
      </ion-item>
      
      <ion-button (click)="save()" margin mode="ios" expand="block" fill="solid" color="danger">Save</ion-button>
    </div>
  </div>
</ion-content>